# Basing on https://github.com/prometheus/alertmanager/blob/6a3dfaff45fafba1ef8553451e6b1fc0435b6523/template/default.tmpl#L15
# We will define a shared gitlab.title template that will look like this:
#  FIRING: 1 - Title of the alert itself.
#  RESOLVED - Title of the alert itself.
#
# For this to work, all the alerts that are grouped by environment and alert name must share the description,
# else there will be no description
{{ define "gitlab.title" }}
  {{- .Status | title }}
  {{- if eq .Status "firing" }} {{ .Alerts.Firing | len }}{{ else }} {{ .Alerts.Resolved | len }}{{ end }}
  {{- printf " - " }}
  {{- if gt (len .Alerts.Firing) 1 }}
  {{- .CommonLabels.alertname }}
  {{- else }}
  {{- .CommonAnnotations.title }}
  {{- end }}
{{- end }}
# The one thing we don't have here is the value, so we will need to add it as a label at the alert level.
{{ define "gitlab.text" }}
{{- if eq .Status "firing" }}
{{- $ca := .CommonAnnotations }}
{{- $cl := .CommonLabels }}
{{- $ca.description }}
{{ if gt (len .Alerts) 1 -}}
:desktop_computer: *Services:*
{{ range .Alerts }}
  *{{ if eq .Labels.fqdn "" }}{{ .Labels.instance }}{{ else }}{{ .Labels.fqdn }}{{ end }}*
  {{ .Annotations.title }}
  {{ .Annotations.description }}
{{ end }}
{{- end }}
{{- if gt (len $cl) 0 -}}
:label: *Labels*:
{{ range $cl.SortedPairs }}
  *{{ .Name | title }}*: {{ .Value }}
{{- end }}
{{ end }}
:chart: *<{{ with index .Alerts 0 }}{{ reReplaceAll "g0.tab=1" "g0.tab=0" .GeneratorURL }}{{ end }}|View Prometheus graph>*
{{- end }}
{{- end }}
{{ define "gitlab.runbook.link" }}
  {{- if eq .CommonAnnotations.link "" -}}
    https://ops.gitlab.net/gitlab-com/runbooks/blob/master/{{ .CommonAnnotations.runbook -}}
  {{- else -}}
    {{- .CommonAnnotations.link -}}
  {{- end -}}
{{- end }}
